/* 모든 블록에 보더라인 처리 */
/*
* {
  border: 1px solid #6181ff;
}
*/

/* .Button.notify-active {
  background-color: red;
} */

.rank_page_index_button {
  background-color: #6181ff;
  border: none;
  color: white;
  padding: 8px; /* 위아래 패딩 크기 */
  width: auto;
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 12px;
}
.rank_page_index_button:hover {
  background-color: #0A58CA;
}

.grey-out {
  color: grey;
}

.alarm-list.show {
  transform: translate(-112px, -20px);
}

ul {
  /*모든 효과 제거 */
  list-style-type: none;
}

/* top을 제외한 전체 마진을 10px */
#root {
  margin: 10px;
  margin-top : 0;
}

/* Rank, Vote 버튼 */
.btn.btn-primary {
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  border-color: white;
  color: black;
}
.btn.btn-primary:hover
{
  background-color: #6181ff;
  border-color: #6181ff;
}

/* list-box 버튼 */
.btn.btn-secondary {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border-color: white;
  color: black;
}
.btn.btn-secondary:hover
{
  background-color: #6181ff;
  border-color: #6181ff;
}

/*logout, login 버튼 */
#logout_btn {
  color: black;
  font-weight: bold;
  background-color: white;
  border : none;
}
#login_button{
  font-size: 25px;
  width: 200px;
  font-weight: bold;
  background-color: gray;
  border-color: white;
  color: white;
}
#login_button:hover {
  background-color: #6181ff;
  border-color: #6181ff;
}
#login_button_align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-top: 200px;
}

/* Logo */
#logo {
  text-decoration: none;
  color: #6181ff;
  font-size: 26px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
#logo_img {
  padding-right: 0px;
}

/* home profile */
.profile {
  width: 400px;
  height: 500px;
  margin-top: 50px;
}

#profile_rank {
  width: 400px;
  height: 500px;
  margin-bottom: 100px;
}
#profile_rank_text {
  text-align: center;
  margin-bottom: 100;
  font-size: 20px;
  font-weight: bold;
}

#intra_picture {
  width: 300px;
  height: 300px;
  /* 비율 유지 */
  object-fit: cover;
  /*윤곽선*/
  border: 1px solid #6181ff;
  margin-bottom: 10px;
}
#profile_level {
  font-size: 15px;
  color: #ffffff;
  /*둥근 모서리 */
  border-radius: 20px;
  border: 1px solid #6181ff;
  /*배경색 */
  background-color: #6181ff;
  font-weight: bold;
  /*보더라인 양쪽의 여백 */
  padding: 1px 5px;
}
#profile_intra_id {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.profile_line_chart {
  width: 900px;
  height: 300px;
}
/* 검색창 스타일 */
#searchSpace {
  padding-left: 0;
  margin-right: 5px;
  /* 보더라인 삭제 */
  border: none;
  /* 효과 삭제 */
  box-shadow: none;
}
.input-group {
  /* 테두리 파란색 */
  border: 1px solid #6181ff;
  /* 테두리 굵게 */
  border-width: 3px;
  /* 둥근 모서리 */
  border-radius: 20px;
  /* 검색창 안의 글자 위치 */
  padding-left: 10px;
  /* 검색창 안의 글자 크기 */
  font-size: 15px;
  /* 검색창 안의 글자 색 */
  color: #000000;
  /* 검색창 배경색 */
  background-color: white;
  /* 검색창 안의 글자 테두리 없애기 */
  outline: none;
  margin-right:10px;
}
.input-group:focus-within {
  /* 이곳에 원하는 스타일을 추가하세요 */
  box-shadow: 0 0 10px #6181ff; /* 예: 파란색으로 빛나는 효과 */
}
#searchButton {
  padding-right: 8px;
}
/* 리스트 박스 스타일 */
.list-box {
  position: absolute;  /* 혹은 position: fixed; */
  top: 80px;  /* 버튼 아래에 위치하게 하기 위해 */
  left: 0;
  z-index: 1000;  /* 다른 엘리먼트 위에 나타나도록 */
  background-color: white;  /* 배경 색 */
  /*테두리 둥글게 */
  border-radius: 10px;
  /*테두리 굵게 */
  border-width: 3px;
  border: 1px solid #ccc;  /* 테두리 */
  width: 150px;  /* 너비 설정 */
  margin: 10px;
  text-align: center;
}
/* Alarm list 스타일 */
.alarm-list {
  position: absolute;  /* 혹은 position: fixed; */
  top: 80px;  /* 버튼 아래에 위치하게 하기 위해 */
  right: 0;
  /* 클릭한 위치 기준으로 왼쪽으로 10px 이동 */
  z-index: 1;  /* 다른 엘리먼트 위에 나타나도록 */
  background-color: white;  /* 배경 색 */
  /*테두리 둥글게 */
  border-radius: 10px;
  /*테두리 굵게 */
  border-width: 3px;
  border: 1px solid #ccc;  /* 테두리 */
  margin: 10px;
  width: 400px;
  /* text-align: center; */
}
#logo_in_alarm_list {
  width: 30px;
  height: 30px;
}
/* INFO 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* 배경 어둡게 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.info-image {
  width: 880px;
  height: 530px;
  /* 모서리 둥굴게 */
  border-radius: 10px;
}
.welcome-image {
  width: 1000px;
  height: 500px;
  /* 모서리 둥굴게 */
  border-radius: 10px;
}

/* 버튼 배경 삭제 스타일 */
.Button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 3px;
  margin: 0;  
}

/* Rank 1~3 */
.card_123 {
  margin: 20px;
  padding : 0;
  /* 아래로 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* 모서리 둥글게 */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#card_1st {
  width: 250px;
  height: 280px;
}
#card_2nd_3rd {
  width: 200px;
  height: 230px;
}
.centered-container {
  display: flex;
  flex-direction: column; /* 수직으로 내용을 배열 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}
.rank_picture_1 {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.rank_picture_2_3 {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Rank 4 이하 */
.card_4 {
  margin: 20px;
  padding: 0;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  /* 모서리 둥글게 */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#card_4th {
  width: 900px;
  height: 90px;
}
.rank_picture_4 {
  width: 70px;
  height: 70px;
  margin: 20px;
  object-fit: cover;
}
.bold_text {
  font-weight: bold;
}
.container {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}
.left-section, .right-section {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}
.right-section {
  margin-left: auto; /* 오른쪽으로 자동 마진을 적용, 오른쪽 정렬 */
}
.space {
  margin: 0 20px; /* 좌우 마진 적용 */
}

/* Vote list 선택 버튼 */
#project_selector {
  /* 배경색 */
  background-color: #6181ff;
  /* 글씨 색 */
  color: white;
  /* 아래 간격 */
  margin: 20px;
  /* width 자동 조정*/
  width: auto;
}
#project_selector:hover {
  background-color: #0A58CA;
  color: white;
}
#vote_main_description {
  font-size: 20px;
  font-weight: bold;
}

/* CopyRight */
#copyright {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #d3d3d3;
  font-family: "Arial", sans-serif;
}
.sd-body--responsive {
  padding-top: 10px !important;
}
#sp_105 {
  padding-top: 10px;
}
#sp_106 {
  padding-top: 10px;
}
#sp_107 {
  padding-top: 10px;
}
#sp_108 {
  padding-top: 10px;
}
#sp_109 {
  padding-top: 10px;
}
.sd-imagepicker__check-icon {
  width: 10px;
  height: 10px;
}
/* Q1 중앙 정렬 */
.sd-page.sd-body__page.sd-page__empty-header {
  padding-top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sd-question__header {
  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.sd-selectbase.sd-imagepicker{
  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sd-imagepicker__label {
  margin: 10px;
}
.sd-imagepicker__item-decorator {
  /* 아래 그림자 효과 */
  box-shadow: 0 0 10px #d3d3d3;
  width: 400px;
  height: 150px;
  border-radius: 4px;
}
.sd-imagepicker__item-decorator:hover {
  /* 이곳에 원하는 스타일을 추가하세요 */
  box-shadow: 0 0 10px #6181ff; /* 예: 파란색으로 빛나는 효과 */
}
.sd-imagepicker__image {
  width: 120px;
  height: 120px;
  transform: translate(-126px, 15px); 
  object-fit: cover !important;
}
.sd-imagepicker__text {
  transform: translate(6px, -65px);
}
.sd-imagepicker__check-decorator {
  transform: translate(140px, 0px);
}
.sv-string-viewer{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.sd-btn.sd-btn--action.sd-navigation__complete-btn {
  font-size: 20px;
  margin: 20px;
}
.sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix {
  /* 하위 엘리먼트들을 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sd-imagepicker__image-container::before {
  all: initial !important;
}
.tooltip-inner {
  font-weight: bold;
  max-width: 1000px !important; /* 원하는 크기로 설정 */
  width: auto !important;
  word-wrap: break-all !important;
}
.tooltip_area {
  margin: 10px;
}
#survey {
  margin: 10px;
  margin-top: 50px;
}

/* xl 브레이크포인트에서 반응형 디자인 적용 */
@media (max-width: 1200px) {
  /* Rank 1~3 반응형 디자인 적용 */
  .rank_picture_1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  .rank_picture_2_3 {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  #card_1st {
    width: 140px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  #card_2nd_3rd {
    width: 100px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card_123
  {
    padding: 0;
    margin: 0;
  }

  /* 그래프 반응형 디자인 적용 */
  .profile_line_chart
  {
    width: 400px;
    height: 250px;
  }

  /* 검색창 반응형 디자인 적용 */
  .input-group
  {
    margin-left: 15px;
  }

  /* info 창 반응형 디자인 적용 */
  .info-image {
    width: 320px;
    height: 200px;
  }
  .alarm-list {
    width: 200px;
    font-size: 12px;
  }
  .alarm-list.show {
    transform: translate(-20px, -20px);
  }
  #logo_in_alarm_list {
    width: 20px;
    height: 20px;
  }
  .welcome-image {
    width: 400px;
    height: 200px;
    /* 모서리 둥굴게 */
    border-radius: 10px;
  }
}
